In [1]:
#1
a = input("Enter the First Name")

Enter the First Namehello python

In [2]:
b = input("Enter the Last Name")

Enter the Last Namepypy

In [3]:
print(b,' ',a)

pypy   hello python

In [31]:
#2
x=y=z=0
x= int(input("no. 1"))
y= int(input("no. 2"))
z= int(input("no. 3"))

no. 11
no. 22
no. 33

In [33]:
print(x,y,z)

1 2 3

In [34]:
d = x+y+z

In [35]:
print(d)

6

In [36]:
e= d/3

In [37]:
print(e)

2.0

In [2]:
#3
x = int(input('enter'))
y = int(input('enter'))

enter1
enter2

In [10]:
z=(x+y)*(x+y)

In [67]:
#4
x=30
y=20

print('"',x,'+',y,'=',x+y,'"')

" 30 + 20 = 50 "

In [1]:
#5
a= input("enter your name : ")
b= int(input("enter your age : "))

enter your name : abc
enter your age : 68

In [4]:
c=100-b
print(c,' Years are left for',a,'to be 100 years old')

32  Years are left for abc to be 100 years old

In [10]:
#6
r=float(input("Enter the Radius :"))

Enter the Radius :3

In [16]:
pi=3.14
v=4/3*pi*r*r*r
print(v)

113.03999999999998

In [17]:
#7
a=float(input("enter side 1 :"))
b=float(input("enter side 2 :"))

enter side 1 :10
enter side 2 :20

In [18]:
c=(a*a+b*b)**0.5
print(c)

22.360679774997898

In [19]:
#8
x1=float(input("enter x1 : "))
x2=float(input("enter x2 : "))
y1=float(input("enter y1 : "))
y2=float(input("enter y2 : "))

enter x1 : 1
enter x2 : 2
enter y1 : 3
enter y2 : 1

In [25]:
c=x2-x1
d=y2-y1
a=(c**2+d**2)**0.5
print(a)

2.23606797749979

In [29]:
#9
a=int(input("Enter a number : "))
if a%2==0 :
    print("True")
else :
    print("False")

Enter a number : 5
False

In [28]:
a=int(input("Enter a number : "))
if a%2==0 :
    print("True")
else :
    print("False")

Enter a number : 2
True

In [32]:
#10
x=int(input("Enter a number : "))
y=int(input("Enter a number : "))
print("Entered numbers are")
print(x,' ',y)
c=x
x=y
y=c
print("Swapped")
print(x,' ',y)

Enter a number : 3
Enter a number : 4
Entered numbers are
3   4
Swapped
4   3

In [33]:
#1
a=int(input("Enter a number : "))
if a%2==0 :
    print("Even")
else :
    print("Odd")

Enter a number : 2
Even

In [34]:
a=int(input("Enter a number : "))
if a%2==0 :
    print("Even")
else :
    print("Odd")

Enter a number : 7
Odd

In [36]:
#2
a=float(input("Enter a number : "))
b=a**0.5
print(b)

Enter a number : 4
2.0

In [39]:
#3
z=int(input("Enter a number : "))

Enter a number : 10

In [40]:
for i in range (1,z+1,1):
   print(i)
print("reverse order : ")
for i in range (z,0,-1):
   print(i)

1
2
3
4
5
6
7
8
9
10
reverse order :
10
9
8
7
6
5
4
3
2
1

In [50]:
#4
print("Even Numbers : ")
for i in range (2,100,2):
   print(i)

Even Numbers :
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [52]:
print("Odd numbers :")
for i in range (1,100,2):
   print(i)

Odd numbers :
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [53]:
#5
print("Enter a,b,c in quadratic equation ")
a=int(input("Enter a : "))
b=int(input("Enter b : "))
c=int(input("Enter c : "))

Enter a,b,c in quadratic equation
Enter a : 1
Enter b : 3
Enter c : 1

In [54]:
d=(b*b-4*a*c)**0.5
d1=(-b+d)/2*a
d2=(-b-d)/2*a
print("the solutions are ",d1," and ",d2)

the solutions are  -0.3819660112501051  and  -2.618033988749895

In [6]:
#6
n=int(input("Enter a number:"))
q=n
c=0
while(n>0):
    c=c+1
    n=n//10
print("number of digits in ",q," are ",c)

Enter a number:7315
number of digits in  7315  are  4

In [59]:
#7
a = int(input("Please enter the number: "))

Please enter the number: 4

In [64]:
if a > 1:
   for i in range(2,a):
       if (a % i) == 0:
           print(a,"is not a prime number")
           break
   else:
       print(a,"is a prime number")
       
else:
   print(a,"is not a prime number")

4 is not a prime number

In [65]:
a = int(input("Please enter the number: "))

Please enter the number: 7

In [66]:
if a > 1:
   for i in range(2,a):
       if (a % i) == 0:
           print(a,"is not a prime number")
           break
   else:
       print(a,"is a prime number")
       
else:
   print(a,"is not a prime number")

7 is a prime number

In [5]:
#8
n = int(input('Input a number: '))
c=0
print("Numbers : ")
for i in range(1,n+1):
    if i % 3 == 0:
        c = c + i
        print(i)
    elif i % 5 == 0:
        c = c + i
        print(i)
print ("Sum = " ,c)

Input a number: 11
Numbers :
3
5
6
9
10
Sum =  33

In [8]:
#9
n = int(input('Input a number: '))
a = int(input('Input 1 for sum and 2 for product: '))
c=0
if a==1:
    for i in range(1,n+1):
        c=c+i
elif a==2:
    c=1
    for i in range (1,n+1):
        c=c*i
else :
    print("Wrong input")
print(c)

Input a number: 5
Input 1 for sum and 2 for product: 1
15

In [9]:
n = int(input('Input a number: '))
a = int(input('Input 1 for sum and 2 for product: '))
c=0
if a==1:
    for i in range(1,n+1):
        c=c+i
elif a==2:
    c=1
    for i in range (1,n+1):
        c=c*i
else :
    print("Wrong input")
print(c)

Input a number: 3
Input 1 for sum and 2 for product: 2
6

In [15]:
#10
s=0
for i in range(1,1000) :
      if i%3==0 or  i%5==0:
             s+=i
print(s)

233168

In [2]:
#11
for a in range(2000, 3201):
  if (a%7)==0:
        b=a/5
        if (b%5)!=0:
            print (a)

2002
2009
2016
2023
2030
2037
2044
2051
2058
2065
2072
2079
2086
2093
2107
2114
2121
2128
2135
2142
2149
2156
2163
2170
2177
2184
2191
2198
2205
2212
2219
2226
2233
2240
2247
2254
2261
2268
2282
2289
2296
2303
2310
2317
2324
2331
2338
2345
2352
2359
2366
2373
2380
2387
2394
2401
2408
2415
2422
2429
2436
2443
2457
2464
2471
2478
2485
2492
2499
2506
2513
2520
2527
2534
2541
2548
2555
2562
2569
2576
2583
2590
2597
2604
2611
2618
2632
2639
2646
2653
2660
2667
2674
2681
2688
2695
2702
2709
2716
2723
2730
2737
2744
2751
2758
2765
2772
2779
2786
2793
2807
2814
2821
2828
2835
2842
2849
2856
2863
2870
2877
2884
2891
2898
2905
2912
2919
2926
2933
2940
2947
2954
2961
2968
2982
2989
2996
3003
3010
3017
3024
3031
3038
3045
3052
3059
3066
3073
3080
3087
3094
3101
3108
3115
3122
3129
3136
3143
3157
3164
3171
3178
3185
3192
3199

In [66]:
#12
s = 0
ss=0
for i in range(1, 101):
    s = s + i
    ss = ss+i**2
s = s**2
a= s - ss
print(a)

25164150

In [82]:
#13
n=n1 = 0
t = 0.0
while True:
    n = input("Enter a number: ")
    if n == 'stop':
        break
    else:
        n1 = float(n)
    n1 = n1+1
    t = t + n1
print ("Total :",t,"\nCount :",int(n1),"\nAverage ",t/n1)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: stop
Total : 20.0
Count : 6
Average  3.3333333333333335

In [9]:
#14
n = int(input("Enter range: "))

print("Prime numbers between 1 and",n,"are:")

for i in range(1,n+1):
   if i > 1:
       for j in range(2,i):
           if (i % j) == 0:
               break
       else:
           print(i)

Enter range: 34
Prime numbers between 1 and 34 are:
2
3
5
7
11
13
17
19
23
29
31

In [2]:
#15
fact = 1
n = int(input("Enter a number: "))
if n < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif n == 0:
   print("The factorial of 0 is 1")
else:
    for i in range(1,n + 1):
       fact = fact*i
    print("The factorial of",n,"is",fact)

Enter a number: 5
The factorial of 5 is 120

In [21]:
fact = 1
n = int(input("Enter a number: "))
if n < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif n == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,n + 1):
       fact = fact*i
    print("The factorial of",n,"is",fact)

Enter a number: 0
The factorial of 0 is 1

In [23]:
fact = 1
n = int(input("Enter a number: "))
if n < 0:
   print("Factorial does not exist for negative numbers")
elif n == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,n + 1):
       fact = fact*i
    print("The factorial of",n,"is",fact)

Enter a number: -1
Factorial does not exist for negative numbers

In [7]:
#16
n = int(input("Enter a number: "))
x=0
y=1
print(x)
while y<n:
    print(y)
    y = x+y
    x=y

Enter a number: 10
0
1
1
2
4
8

In [4]:
#17
n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))
 
n = min(n1, n2)
 
while(1):
    if(n % n1 == 0 and n % n2 == 0):
        print("LCM of two number is:", n)
        break
    n = n+1

Enter first number: 3
Enter second number: 5
LCM of two number is: 15

In [13]:
#18
n = int(input("Enter a number: "))
c = 0;
for i in range(2, n-1):
    if n%i == 0:
        print(i)
        i += 1
        c=1
if c==0:
    print(n,"is prime number")

Enter a number: 11
11 is prime number