In [1]:
#1
a = input("Enter the First Name")

Enter the First Namehello python

In [2]:
b = input("Enter the Last Name")

Enter the Last Namepypy

In [3]:
print(b,' ',a)

pypy   hello python

In [31]:
#2
x=y=z=0
x= int(input("no. 1"))
y= int(input("no. 2"))
z= int(input("no. 3"))

no. 11
no. 22
no. 33

In [33]:
print(x,y,z)

1 2 3

In [34]:
d = x+y+z

In [35]:
print(d)

6

In [36]:
e= d/3

In [37]:
print(e)

2.0

In [2]:
#3
x = int(input('enter'))
y = int(input('enter'))

enter1
enter2

In [10]:
z=(x+y)*(x+y)

In [67]:
#4
x=30
y=20

print('"',x,'+',y,'=',x+y,'"')

" 30 + 20 = 50 "

In [1]:
#5
a= input("enter your name : ")
b= int(input("enter your age : "))

enter your name : abc
enter your age : 68

In [4]:
c=100-b
print(c,' Years are left for',a,'to be 100 years old')

32  Years are left for abc to be 100 years old

In [10]:
#6
r=float(input("Enter the Radius :"))

Enter the Radius :3

In [16]:
pi=3.14
v=4/3*pi*r*r*r
print(v)

113.03999999999998

In [17]:
#7
a=float(input("enter side 1 :"))
b=float(input("enter side 2 :"))

enter side 1 :10
enter side 2 :20

In [18]:
c=(a*a+b*b)**0.5
print(c)

22.360679774997898

In [19]:
#8
x1=float(input("enter x1 : "))
x2=float(input("enter x2 : "))
y1=float(input("enter y1 : "))
y2=float(input("enter y2 : "))

enter x1 : 1
enter x2 : 2
enter y1 : 3
enter y2 : 1

In [25]:
c=x2-x1
d=y2-y1
a=(c**2+d**2)**0.5
print(a)

2.23606797749979

In [29]:
#9
a=int(input("Enter a number : "))
if a%2==0 :
    print("True")
else :
    print("False")

Enter a number : 5
False

In [28]:
a=int(input("Enter a number : "))
if a%2==0 :
    print("True")
else :
    print("False")

Enter a number : 2
True

In [32]:
#10
x=int(input("Enter a number : "))
y=int(input("Enter a number : "))
print("Entered numbers are")
print(x,' ',y)
c=x
x=y
y=c
print("Swapped")
print(x,' ',y)

Enter a number : 3
Enter a number : 4
Entered numbers are
3   4
Swapped
4   3

In [33]:
#1
a=int(input("Enter a number : "))
if a%2==0 :
    print("Even")
else :
    print("Odd")

Enter a number : 2
Even

In [34]:
a=int(input("Enter a number : "))
if a%2==0 :
    print("Even")
else :
    print("Odd")

Enter a number : 7
Odd

In [36]:
#2
a=float(input("Enter a number : "))
b=a**0.5
print(b)

Enter a number : 4
2.0

In [39]:
#3
z=int(input("Enter a number : "))

Enter a number : 10

In [40]:
for i in range (1,z+1,1):
   print(i)
print("reverse order : ")
for i in range (z,0,-1):
   print(i)

1
2
3
4
5
6
7
8
9
10
reverse order :
10
9
8
7
6
5
4
3
2
1

In [50]:
#4
print("Even Numbers : ")
for i in range (2,100,2):
   print(i)

Even Numbers :
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [52]:
print("Odd numbers :")
for i in range (1,100,2):
   print(i)

Odd numbers :
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [53]:
#5
print("Enter a,b,c in quadratic equation ")
a=int(input("Enter a : "))
b=int(input("Enter b : "))
c=int(input("Enter c : "))

Enter a,b,c in quadratic equation
Enter a : 1
Enter b : 3
Enter c : 1

In [54]:
d=(b*b-4*a*c)**0.5
d1=(-b+d)/2*a
d2=(-b-d)/2*a
print("the solutions are ",d1," and ",d2)

the solutions are  -0.3819660112501051  and  -2.618033988749895

In [6]:
#6
n=int(input("Enter a number:"))
q=n
c=0
while(n>0):
    c=c+1
    n=n//10
print("number of digits in ",q," are ",c)

Enter a number:7315
number of digits in  7315  are  4

In [59]:
#7
a = int(input("Please enter the number: "))

Please enter the number: 4

In [64]:
if a > 1:
   for i in range(2,a):
       if (a % i) == 0:
           print(a,"is not a prime number")
           break
   else:
       print(a,"is a prime number")
       
else:
   print(a,"is not a prime number")

4 is not a prime number

In [65]:
a = int(input("Please enter the number: "))

Please enter the number: 7

In [66]:
if a > 1:
   for i in range(2,a):
       if (a % i) == 0:
           print(a,"is not a prime number")
           break
   else:
       print(a,"is a prime number")
       
else:
   print(a,"is not a prime number")

7 is a prime number

In [1]:
#8
n = int(input('Input a number: '))
c=0
print("Numbers : ")
for i in range(1,n+1):
    if i % 3 == 0:
        c = c + i
        print(i)
    elif i % 5 == 0:
        c = c + i
        print(i)
print ("Sum = " ,c)

Input a number: 15
Numbers :
3
5
6
9
10
12
15
Sum =  60

In [8]:
#9
n = int(input('Input a number: '))
a = int(input('Input 1 for sum and 2 for product: '))
c=0
if a==1:
    for i in range(1,n+1):
        c=c+i
elif a==2:
    c=1
    for i in range (1,n+1):
        c=c*i
else :
    print("Wrong input")
print(c)

Input a number: 5
Input 1 for sum and 2 for product: 1
15

In [9]:
n = int(input('Input a number: '))
a = int(input('Input 1 for sum and 2 for product: '))
c=0
if a==1:
    for i in range(1,n+1):
        c=c+i
elif a==2:
    c=1
    for i in range (1,n+1):
        c=c*i
else :
    print("Wrong input")
print(c)

Input a number: 3
Input 1 for sum and 2 for product: 2
6

In [15]:
#10
s=0
for i in range(1,1000) :
      if i%3==0 or  i%5==0:
             s+=i
print(s)

233168

In [2]:
#11
for a in range(2000, 3201):
  if (a%7)==0:
        b=a/5
        if (b%5)!=0:
            print (a)

2002
2009
2016
2023
2030
2037
2044
2051
2058
2065
2072
2079
2086
2093
2107
2114
2121
2128
2135
2142
2149
2156
2163
2170
2177
2184
2191
2198
2205
2212
2219
2226
2233
2240
2247
2254
2261
2268
2282
2289
2296
2303
2310
2317
2324
2331
2338
2345
2352
2359
2366
2373
2380
2387
2394
2401
2408
2415
2422
2429
2436
2443
2457
2464
2471
2478
2485
2492
2499
2506
2513
2520
2527
2534
2541
2548
2555
2562
2569
2576
2583
2590
2597
2604
2611
2618
2632
2639
2646
2653
2660
2667
2674
2681
2688
2695
2702
2709
2716
2723
2730
2737
2744
2751
2758
2765
2772
2779
2786
2793
2807
2814
2821
2828
2835
2842
2849
2856
2863
2870
2877
2884
2891
2898
2905
2912
2919
2926
2933
2940
2947
2954
2961
2968
2982
2989
2996
3003
3010
3017
3024
3031
3038
3045
3052
3059
3066
3073
3080
3087
3094
3101
3108
3115
3122
3129
3136
3143
3157
3164
3171
3178
3185
3192
3199

In [66]:
#12
s = 0
ss=0
for i in range(1, 101):
    s = s + i
    ss = ss+i**2
s = s**2
a= s - ss
print(a)

25164150

In [82]:
#13(galat hai)
n=n1 = 0
t = 0.0
while True:
    n = input("Enter a number: ")
    if n == 'stop':
        break
    else:
        n1 = float(n)
    n1 = n1+1
    t = t + n1
print ("Total :",t,"\nCount :",int(n1),"\nAverage ",t/n1)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: stop
Total : 20.0
Count : 6
Average  3.3333333333333335

In [9]:
#14
n = int(input("Enter range: "))

print("Prime numbers between 1 and",n,"are:")

for i in range(1,n+1):
   if i > 1:
       for j in range(2,i):
           if (i % j) == 0:
               break
       else:
           print(i)

Enter range: 34
Prime numbers between 1 and 34 are:
2
3
5
7
11
13
17
19
23
29
31

In [2]:
#15
fact = 1
n = int(input("Enter a number: "))
if n < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif n == 0:
   print("The factorial of 0 is 1")
else:
    for i in range(1,n + 1):
       fact = fact*i
    print("The factorial of",n,"is",fact)

Enter a number: 5
The factorial of 5 is 120

In [21]:
fact = 1
n = int(input("Enter a number: "))
if n < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif n == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,n + 1):
       fact = fact*i
    print("The factorial of",n,"is",fact)

Enter a number: 0
The factorial of 0 is 1

In [23]:
fact = 1
n = int(input("Enter a number: "))
if n < 0:
   print("Factorial does not exist for negative numbers")
elif n == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,n + 1):
       fact = fact*i
    print("The factorial of",n,"is",fact)

Enter a number: -1
Factorial does not exist for negative numbers

In [7]:
#16
n = int(input("Enter a number: "))
x=0
y=1
print(x)
while y<n:
    print(y)
    y = x+y
    x=y

Enter a number: 10
0
1
1
2
4
8

In [4]:
#17
n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))
 
n = min(n1, n2)
 
while(1):
    if(n % n1 == 0 and n % n2 == 0):
        print("LCM of two number is:", n)
        break
    n = n+1

Enter first number: 3
Enter second number: 5
LCM of two number is: 15

In [13]:
#18
n = int(input("Enter a number: "))
c = 0;
for i in range(2, n-1):
    if n%i == 0:
        print(i)
        i += 1
        c=1
if c==0:
    print(n,"is prime number")

Enter a number: 11
11 is prime number

In [8]:
a=0
b=1
n=int(input('enter limit:'))
for b in range(1,n+1):
    if(b<n+1): 
        b=a+b
        a=b
        print(b)
    
print('Fibonacci series: ',a,b)

enter limit:5
1
3
6
10
15
Fibonacci series:  15 15

In [14]:
a = 0
b = 1
n = int(input("Enter limit"))
for i in range(0, n):
           if(i <= 1):
                      n1 = i
           else:
                      n1 = a + b
                      a = b
                      b = n1
           print(n1)

Enter limit10
0
1
1
2
3
5
8
13
21
34

In [3]:
#19.1
for i in range(5):
    print('*' * (i+1))

*
**
***
****
*****

In [2]:
#19.2
for i in range(7,0,-1):
    print('*' * (i))

*******
******
*****
****
***
**
*

In [5]:
#19.3
for num in range (1,6,1):
    for i in range(0,num,1):
        print (num, end=" ")
    print("\r")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [4]:
#19.4
n=4
k = 2*n - 2
for i in range(0, n): 
    for j in range(0, k): 
        print(end=" ") 
    k = k - 1
    for j in range(0, i+1): 
        print("* ", end="") 
    print("\r")

      *
     * *
    * * *
   * * * *

In [10]:
#19.5
a=1
for i in range(1,6,1):
    for j in range(1,i,1):
        print(a,end=' ')
        a=a+1
    print("\r")

1
2 3
4 5 6
7 8 9 10

In [11]:
#19.6
asc=65
for i in range(0, 4):
    for j in range(0, i+1):
        c = chr(asc)
        print(c, end=' ')
        asc+=1
    print(" ")

A
B C
D E F
G H I J

In [57]:
#20
a = int(input("Input an integer : "))
n1 = int("%s" % a)
n2 = int("%s%s" % (a,a))
n3 = int("%s%s%s" % (a,a,a))
n4 = int( "%s%s%s%s" % (a,a,a,a) )
print (n1,'+',n2,'+',n3,'+',n4,'=',n1+n2+n3+n4)

Input an integer : 9
9 + 99 + 999 + 9999 = 11106

# STRINGS

In [31]:
#1
def str_len():
    s= input("Enter String : ")
    c=0
    for i in s :
        c=c+1
    print("The length of string is",c)
str_len()

Enter String : hello
The length of string is 5

In [20]:
#2
def concat():
    a=input("Enter String 1 : ")
    b=input("Enter String 2 : ")
    return a+b
concat()

Enter String 1 : nanak
Enter String 2 : singh

'nanaksingh'

In [33]:
#3
def num():
    a=input("Enter String : ")
    alpha=0
    dig=0
    for i in a:
        if(ord(i)>=65 and ord(i)<=90)or (ord(i)>=90 and ord(i)<=122):
            alpha=alpha+1
        elif(ord(i)>=48 and ord(i)<=57):
            dig=dig+1
        else:
            pass
    print("Alphabets :",alpha)
    print("Digits :",dig)
num()

Enter String : hello123
Alphabets : 5
Digits : 3

In [35]:
#4
def newl():
    s= input("Enter String : ")
    for i in s :
        print(i)
newl()

Enter String : hello
h
e
l
l
o

In [24]:
#5
def toupper():
    a=input("Enter String : ")
    b=a.upper()
    return b
toupper()

Enter String : hello

'HELLO'

In [39]:
#6
def count(s):
    u=0
    l=0
    for i in s:
        if i.isupper():
            u=u+1
        if i.islower():
            l=l+1
    return("Uppercase :",u,"Lowercase :",l)
s= input("Enter String : ")
count(s)

Enter String : HelLo

('Uppercase :', 2, 'Lowercase :', 3)

In [40]:
#7
def even(a):
    c=0
    for i in a:
        c=c+1
        if c%2==0:
            print(i)
s= input("Enter String : ")
even(s)

Enter String : my name is nanak
y
n
m

s
n
n
k

In [46]:
#8
def remov(s):
    c=0
    n=int(input("Enter the letter number from where characters are not to be removed : "))
    for i in s:
        c=c+1
        if c<n:
            pass
        else:
            print(i,end="")
s= input("Enter String : ")
remov(s)

Enter String : hello nanak
Enter the letter number from where characters are not to be removed : 3
llo nanak

In [55]:
#9
def swapcase(s):
    c = ""
    a=len(s)
    for i in range(a):
        if s[i].isupper():
            c = c+s[i].lower() 
        elif s[i].islower():
            c = c+s[i].upper()
    return ("Swapped Case String is :",c)
s= input("Enter String : ")
swapcase(s)

Enter String : HellO

('Swapped Case String is :', 'hELLo')

In [59]:
#10
def count(s) : 
    a= input("Enter character to be searched : ")
    c = 0
    z=len(s)
    for i in range(z):
        if (s[i] == a): 
            c = c + 1
    return c
s= input("Enter String : ")
count(s)

Enter String : Hello myself nanak singh
Enter character to be searched : a

2

In [69]:
#11
def pali(s):
    a = "" 
    for i in s: 
        a = i + a 
    if (a==s): 
        print("Palindrome") 
    else:
        print("Not a Palindrome")
s= input("Enter String : ")
pali(s)

Enter String : nanan
Palindrome

In [70]:
def pali(s):
    a = "" 
    for i in s: 
        a = i + a #order important
    if (s==a): 
        print("Palindrome") 
    else:
        print("Not a Palindrome")
s= input("Enter String : ")
pali(s)

Enter String : nanak
Not a Palindrome

# 12(Galat hai)

In [74]:
#12(Galat hai)
def anagram(s,a):
    c=d=0
    x=len(s)
    y=len(a)
    if x==y:
        for i in s :
            for j in a:
                if i==j:
                    print(i, "is present")
                else:
                    print("not an anagram")
s= input("Enter String 1 : ")
a= input("Enter String 2 : ")
anagram(s,a)

Enter String 1 : qaz
Enter String 2 : zaq
not an anagram
not an anagram
q is present
not an anagram
a is present
not an anagram
z is present
not an anagram
not an anagram

# 13 nhi ho rha

# 14(galat hai)

In [92]:
#14(galat hai)
def exchange1n(s):
    a=len(s)
    i=0
    c=''
    d=''
    q=''
    for i in s:
        if i==0:
            c=i;
        elif i==a-1:
            d=i
        else:
            q=q+i
    ns=s[-1]+s[1:-1]+s[1]
    return(ns)
s= input("Enter String : ")
exchange1n(s)

Enter String : nanan

'nanaa'

In [102]:
qs= input("Enter String : ")
zs=s[len(qs)-1]+s[1:-1]+s[0]
print(zs)

Enter String : nsk
nanan

In [107]:
str= input("Enter String : ")
str1[-1:] + str1[1:-1] + str1[:1]
print(str1)

Enter String : nanak
afd

In [31]:
#15
s = input("Enter String : ")
n = int(input("Enter Index Number : "))
c = input("Enter character : ")
d=''
q=0
for i in s:
    q=q+1
    if q!=n:
        d=d+i
    else:
        d=d+c
print(d)

Enter String : nanak singh khurana
Enter Index Number : 2
Enter character : q
nqnak singh khurana

In [32]:
#16
str = input("Enter String : ")
s=input("Enter String : ")
print(str.count(s))

Enter String : nanak
Enter String : a
2

# 17 nhi hua

In [38]:
#18 
s = input("Enter Binary Number : ")
k = int(input("Enter number of 1's: "))
i = '1' * k  
if i in s: 
    print("True") 
else: 
    print("False")

Enter Binary Number : 1011
Enter number of 1's: 3
False

In [39]:
s = input("Enter Binary Number : ")
k = int(input("Enter number of 1's: "))
i = '1' * k  
if i in s: 
    print("True") 
else: 
    print("False")

Enter Binary Number : 101111
Enter number of 1's: 4
True

In [47]:
#19
s = input("Enter String : ")
print ("The reverse string is : ",end="")  
a = "" 
for i in s: 
    a = i + a
print(a)

Enter String : nanak
The reverse string is : kanan

# 20 nhi hua

In [52]:
#21
s =input("Enter String : ")
ss =input("Enter SubString : ")
if (s.find(ss) == -1): 
    print("not substring") 
else: 
    print("is substring")

Enter String : nanak
Enter SubString : s
not substring

# 22 nhi hua

# Functions : 1

In [10]:
#1
def pow(a,b):
    return x**y
x=int(input("Enter the base : "))
y=int(input("Enter the power : "))
pow(x,y)

Enter the base : 3
Enter the power : 4

81

In [11]:
#2
def concat(a='Hello',b='world'):
    return a+b
a=input("Enter string 1 : ")
b=input("Enter string 2 : ")
concat(a,b)

Enter string 1 : nanak
Enter string 2 : singh

'nanaksingh'

In [13]:
def concat(a='Hello',b='world'):
    return a+b
a=input("Enter string 1 : ")
b=input("Enter string 2 : ")
concat()

Enter string 1 : nanak
Enter string 2 : singh

'Helloworld'

In [14]:
#3
def even():
    x=int(input("Enter the number : "))
    if x%2==0:
        print(bool(1))
    else:
        print(bool(0))
even()

Enter the number : 4
True

In [15]:
def even():
    x=int(input("Enter the number : "))
    if x%2==0:
        print(bool(1))
    else:
        print(bool(0))
even()

Enter the number : 5
False

In [16]:
#4
def prime():
    a=int(input("Enter the number : "))
    if a > 1:
       for i in range(2,a):
           if (a % i) == 0:
               print(bool(0))
               break
       else:
           print(bool(1))
       
    else:
       print(bool(0))
prime()

Enter the number : 5
True

In [17]:
def prime():
    a=int(input("Enter the number : "))
    if a > 1:
       for i in range(2,a):
           if (a % i) == 0:
               print(bool(0))
               break
       else:
           print(bool(1))
       
    else:
       print(bool(0))
prime()

Enter the number : 6
False

In [18]:
#5
def pali(s):
    a = "" 
    for i in s: 
        a = i + a #order imp
    if (a==s): 
        print(bool(1)) 
    else:
        print(bool(0))
s= input("Enter String : ")
pali(s)

Enter String : nanan
True

In [19]:
def pali(s):
    a = "" 
    for i in s: 
        a = i + a #order imp
    if (a==s): 
        print(bool(1)) 
    else:
        print(bool(0))
s= input("Enter String : ")
pali(s)

Enter String : nanak
False

# 6th galat hai

In [21]:
#6(galat hai)
def words():
    z=' '
    a=input("Enter the string: ")
    c=0
    for i in a:
        if i==z:
            c=c+1
    print(c+1)
words()

Enter the string: 5
1

In [22]:
#7
def large():
    a=int(input("Enter the number : "))
    b=int(input("Enter the number : "))
    c=int(input("Enter the number : "))
    if a>b & a>c:
        return a
    elif b>a & b>c:
        return b
    else:
        return c
large()

Enter the number : 5
Enter the number : 4
Enter the number : 1

5

# 8 nhi aata

In [2]:
#9
def rev():
    x=int(input("Enter a number : "))
    for i in range(x):
            c=x%10
            x=x/10
            int(x)
            if x>0.1:
                print(int(c),end='')
            else:
                pass
rev()

Enter a number : 79879
97897

In [31]:
#10
def large():
    a=int(input("Enter the number : "))
    b=int(input("Enter the number : "))
    c=int(input("Enter the number : "))
    if a>b & a>c:
        return a
    elif b>a & b>c:
        return b
    else:
        return c
large()

Enter the number : 6
Enter the number : 5
Enter the number : 3

6

In [30]:
#11
def rep0by5(a):
    for i in a:
        if i=='0':
            i='5'
            print(i,end='')
        else:
            print(i,end='')
a=input("Enter the numbers : ")
rep0by5(a)

Enter the numbers : 0894725020
5894725525

In [49]:
#12
def multiplication_table():
    b=int(input("Enter the number whole table is required : "))
    for i in range(1,11):
      s=b*i 
      print(b,'*',i,'=',s)
multiplication_table()

Enter the number whole table is required : 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [5]:
#13
def sumno():
    z=0
    x=int(input("Enter a number : "))
    for i in range(x):
            c=x%10
            x=x/10
            z=z+int(c)
            
    print(z)
sumno()

Enter a number : 431
8

In [20]:
#14
def nopunc():
    p = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    a = input("Enter a string: ")
    np = ""
    for i in a:
        if i not in p:
            np = np + i
    print(np)
nopunc()

Enter a string: nanak@#$ingh
nanakingh

# 15 nhi hua

# 16 nhi hua

In [3]:
#17
def rev():
    x=int(input("Enter a number : "))
    for i in range(x):
            c=x%10
            x=x/10
            int(x)
            if x>0.1:
                print(int(c),end='')
            else:
                pass
rev()

Enter a number : 45783
38754

# 18 nhi hua

In [2]:
#time pass

In [5]:

print("+ - - - - + - - - - +")
print("|         |         |")
print("|         |         |")
print("|         |         |")
print("|         |         |")
print("+ - - - - + - - - - +")
print("|         |         |")
print("|         |         |")
print("|         |         |")
print("|         |         |")
print("+ - - - - + - - - - +")

+ - - - - + - - - - +
|         |         |
|         |         |
|         |         |
|         |         |
+ - - - - + - - - - +
|         |         |
|         |         |
|         |         |
|         |         |
+ - - - - + - - - - +

# lists

In [79]:
#1
a=[1,2,3,4]
for i in range(len(a)-1,-1,-1):
    print(a[i])

4
3
2
1

In [81]:
#2
a=[1,2,3,4,5,6,7,8,9]
z=int(input("enter the number to be searched : "))
for i in range(len(a)-1):
    if a[i]==z:
        print("number found on ",i+1)
    else:
        pass

enter the number to be searched : 7
number found on  7

In [82]:
#3
a=[1,2,3,4,5,6,7,8,9]
b=[1,2,3]
for i in range(len(a)-1):
    for j in range(len(b)):
        if(a[i]==b[j]):
            print(a[i],"found")
        else:
            pass

1 found
2 found
3 found

In [86]:
#4
a=[1,2,3,4,5,6,7,8,9]
print("Initial List :",a)
n=int(input("enter the number to be inserted : "))
k=int(input("enter the position : "))
for i in range(len(a)-1):
    if i==(k-1):
        a[i]=n
    else:
        pass
print(a)

Initial List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
enter the number to be inserted : 5
enter the position : 3
[1, 2, 5, 4, 5, 6, 7, 8, 9]

In [2]:
#5
a= []
b=[]
d=int(input("Enter the times number to be entered : "))
for i in range (0,d):
    c=int(input("Enter the number to be entered : "))
    a.append(c)
print("String is :",a)
print("revere string is : ",end='')
for i in range(len(a)-1,-1,-1):
    b.append(a[i])
print(b)

Enter the times number to be entered : 5
Enter the number to be entered : 3
Enter the number to be entered : 2
Enter the number to be entered : 5
Enter the number to be entered : 4
Enter the number to be entered : 1
String is : [3, 2, 5, 4, 1]
revere string is : [1, 4, 5, 2, 3]

In [1]:
#6
i=1 #output will take time
while (i %  2 != 0 or i %  3 != 0 or i %  4 != 0 or i %  5 != 0 or
         i %  6 != 0 or i %  7 != 0 or i %  8 != 0 or i %  9 != 0 or
         i % 10 != 0 or i % 11 != 0 or i % 12 != 0 or i % 13 != 0 or
         i % 14 != 0 or i % 15 != 0 or i % 16 != 0 or i % 17 != 0 or
         i % 18 != 0 or i % 19 != 0 or i % 20 != 0 ):
    i=i+1
print(i)

232792560

In [1]:
#7
a=[1,2,3,4,5,6]
b=[7,8,9,10,11,12]
c=[]
for i in a:
    if i%2 !=0:
        c.append(i)
    else:
        pass
for j in b:
    if j %2 == 0:
        c.append(j)
    else:
        pass
print(c)

[1, 3, 5, 8, 10, 12]

In [15]:
#8

In [22]:
#9(galat hai)
a=[1,2,3,1,5,2,5]
a.sort()
print('Sorted a :',a)
for i in range (len(a)-1):
    if a[i+1]==a[i]:
        pass
    else:
        print(a[i])

Sorted a : [1, 1, 2, 2, 3, 5, 5]
1
2
3

In [3]:
#10
c=0
a = [1,2,3,6,4] 
a.sort()
print("Sorted a :",a)
for i in range (len(a)-1):
    if a[i+1]-a[i]<=1:
        c=c+1
    else:
        pass
print('max=',c)

Sorted a : [1, 2, 3, 4, 6]
max= 3

In [30]:
#11
def square(a):
    b=[]
    for i in a:
        b.append(i*i)
    return b
a= []
d=int(input("Enter the times number to be entered : "))
for i in range (0,d):
    c=int(input("Enter the number to be entered : "))
    a.append(c)
square(a)

Enter the times number to be entered : 5
Enter the number to be entered : 1
Enter the number to be entered : 3
Enter the number to be entered : 4
Enter the number to be entered : 6
Enter the number to be entered : 2

[1, 9, 16, 36, 4]

In [35]:
#12
a= []
d=int(input("Enter the times number to be entered : "))
for i in range (0,d):
    c=int(input("Enter the number to be entered : "))
    a.append(c)
a.sort()
b=a[0]
for i in a:
    if i>(b*b):
        print(i)
    else:
        pass

Enter the times number to be entered : 5
Enter the number to be entered : 1
Enter the number to be entered : 2
Enter the number to be entered : 3
Enter the number to be entered : 4
Enter the number to be entered : 6
2
3
4
6

In [28]:
#13
a= []
d=int(input("Enter the times number to be entered : "))
for i in range (0,d):
    c=int(input("Enter the number to be entered : "))
    a.append(c)
a.sort()
print("sorted list is :",a)
print("Minimum number is",a[0])
print("max is :",a[len(a)-1])

Enter the times number to be entered : 4
Enter the number to be entered : 5
Enter the number to be entered : 8
Enter the number to be entered : 1
Enter the number to be entered : 4
sorted list is : [1, 4, 5, 8]
Minimum number is 1
max is : 8

In [1]:
#tuple

In [2]:
#1
mytuple = 1,2.6,'python'
print(mytuple)

(1, 2.6, 'python')

In [3]:
#2
a,b,c=mytuple
print(a)
print(b)
print(c)

1
2.6
python

In [13]:
#3
mytuple = 1,2,3,4 
print(mytuple)
a=input("enter the variable to be entered")
q=list(mytuple)
q.append(a)
mytuple=tuple(q)
print(mytuple)

(1, 2, 3, 4)
enter the variable to be enteredhello
(1, 2, 3, 4, 'hello')

In [1]:
##input a tuple
d=int(input("Enter the times number to be entered : "))
a=[]
for i in range (0,d):
    c=int(input("Enter the number to be entered : "))
    a.append(c)
q=tuple(a)
print(q)

Enter the times number to be entered : 5
Enter the number to be entered : 1
Enter the number to be entered : 2
Enter the number to be entered : 3
Enter the number to be entered : 4
Enter the number to be entered : 5
(1, 2, 3, 4, 5)

In [1]:
tup = () 
d=int(input("Enter the times number to be entered : "))
for i in range(0,d):
    c=int(input("Enter the number to be entered : "))
    tup = tup + (c,)
print(tup)

Enter the times number to be entered : 6
Enter the number to be entered : 3
Enter the number to be entered : 2
Enter the number to be entered : 4
Enter the number to be entered : 5
Enter the number to be entered : 1
Enter the number to be entered : 2
(3, 2, 4, 5, 1, 2)

In [ ]:
##4
d=int(input("Enter the times number to be entered : "))
a=[]
for i in range (0,d):
    c=input("Enter the number to be entered : ")
    a.append(c)
q=tuple(a)
print("Tuple is :",q)
s =  ''.join(q)
print("String is :",s)

In [8]:
#5
tup = () 
z=0
x=0
d=int(input("Enter the times number to be entered : "))
for i in range(0,d):
    c=int(input("Enter the number to be entered : "))
    tup = tup + (c,)
print("Tuple is :",tup)
for i in tup:
    x=x+1
    for j in tup[x:]:
        if i==j:
            z=z+1
print(z)

Enter the times number to be entered : 5
Enter the number to be entered : 1
Enter the number to be entered : 3
Enter the number to be entered : 1
Enter the number to be entered : 5
Enter the number to be entered : 3
Tuple is : (1, 3, 1, 5, 3)
2

In [1]:
#6
tup = () 
g=0
d=int(input("Enter the times number to be entered : "))
for i in range(0,d):
    c=int(input("Enter the number to be entered : "))
    tup = tup + (c,)
print(tup)
x=int(input("enter number to be searched:"))
for i in tup:
    if i==x:
        g=1
        print("The number is in the tuple")
    else:
        pass
if g==0:
    print("Can't find the number in the tuple")

Enter the times number to be entered : 5
Enter the number to be entered : 1
Enter the number to be entered : 3
Enter the number to be entered : 4
Enter the number to be entered : 5
Enter the number to be entered : 1
(1, 3, 4, 5, 1)
enter number to be searched:3
The number is in the tuple

In [3]:
#6
tup = () 
g=0
d=int(input("Enter the times number to be entered : "))
for i in range(0,d):
    c=int(input("Enter the number to be entered : "))
    tup = tup + (c,)
print(tup)
x=int(input("enter number to be searched:"))
for i in tup:
    if i==x:
        g=1
        print("The number is in the tuple")
    else:
        pass
if g==0:
    print("Can't find the number in the tuple")

Enter the times number to be entered : 5
Enter the number to be entered : 4
Enter the number to be entered : 3
Enter the number to be entered : 5
Enter the number to be entered : 7
Enter the number to be entered : 2
(4, 3, 5, 7, 2)
enter number to be searched:0
Can't find the number in the tuple

In [8]:
#7
q=[]
d=int(input("Enter the times number to be entered : "))
for i in range(0,d):
    a=int(input("enter the variable to be entered :"))
    q.append(a)
print(q)
mytuple=tuple(q)
print(mytuple)

Enter the times number to be entered : 5
enter the variable to be entered :4
enter the variable to be entered :3
enter the variable to be entered :3
enter the variable to be entered :6
enter the variable to be entered :2
[4, 3, 3, 6, 2]
(4, 3, 3, 6, 2)

In [3]:
#8
a=(1,2,3,4,5,6)
print("tuple is :",a)
c=int(input("enter the variable to be removed :"))
q=list(a)
q.remove(c)
a=tuple(q)
print(a)

tuple is : (1, 2, 3, 4, 5, 6)
enter the variable to be removed :5
(1, 2, 3, 4, 6)

In [8]:
#9
#wrong output got it right on next one
a=1,9,3,4,5
c=0
x=0
z=int(input("enter number :"))
for i in a:
    if a==z:
        c=c+1
        x=1
        print("index is ",c)
    else:
        pass
if x==0:
    print("Number not found tuple")

enter number :3
Number not found tuple

In [10]:
#9
a=1,9,3,4,5
c=0
x=0
z=int(input("enter number :"))
for i in range(len(a)):
    if a[i]==z:
        c=c+1
        x=1
        print("index is ",(i+1))
    else:
        pass
if x==0:
    print("Number not found tuple")

enter number :5
index is  5

In [12]:
#10
tup = () 
d=int(input("Enter the times number to be entered : "))
for i in range(0,d):
    c=int(input("Enter the number to be entered : "))
    tup = tup + (c,)
print("Original tuple is :",tup)
rev=tup[::-1]
print("Reverse tuple is :",rev)

Enter the times number to be entered : 5
Enter the number to be entered : 4
Enter the number to be entered : 6
Enter the number to be entered : 7
Enter the number to be entered : 8
Enter the number to be entered : 1
Original tuple is : (4, 6, 7, 8, 1)
Reverse tuple is : (1, 8, 7, 6, 4)

In [13]:
#dictionary

In [16]:
#11
d={}
for i in range(1,11):
    d[i]=i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [22]:
#d={}
#help(d)

In [21]:
#14
d1={1:10, 2:20}
d2={3:30, 4:40}
d3={5:50,6:60}
d4 = {}
for d in (d1, d2, d3): 
    d4.update(d)
print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}